.Login {
    font-family: 'Abel', sans-serif;
    font-size: 18pt;
    
    width: 100%;
    background-color: saddlebrown;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}
.Login .content {
    background-color: #f7ae50;
    padding: 100px;
    padding-top: 150px;
    border-radius: 15px;
    box-shadow: 1px 1px 10pt;
    display: flex;
    justify-content: space-between;
}
#logintext {
    position: relative;
    bottom: 60px;
    max-width: 400px;
    max-height: 300px;
    margin-right: 50px;
}
.Login .content form{
    display: block;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 130px;
}
.Login .content form input + *{
    margin-top: 10px;
}


.Login .content form .primary-btn{
    position: relative;
    margin-left: 149px;
}


 
.registrar {
    text-decoration: none;
    color: #000;
    font-size: 14pt;
    position: relative;
    top: -40px;
    right: -5px;
}

.registrar:hover {
    color: rgb(81, 81, 216);
}

/* propriedades do botao */
.primary-btn {
    color: #000;
    background: #e09634;
    border: 1px solid #000;
}

.primary-btn:hover {
    background: #000;
    border: 1px solid #f7ae50; 
}

.primary-btn span {
    color: #000;
}

.primary-btn:hover span {
    color: #f7ae50;
}