h1, h2, h3, h4, h5, h6 {
    color: gray;
}
p {
    color: white;
}.LandingPage {
    padding-top: 5px;
    z-index: 100;
    text-align: center;
}
.Title {
    padding-top: 10px;
    text-align: center;
}
.Content {
    padding-top: 5px;

}