h1, h2, h3, h4, h5, h6 {
    color: black;
}
p {
    color: #2a2a2a;
}
.landing-page {
    padding: 5px;
    z-index: 100;
    text-align: center;
}

.title {
    padding-top: 10px;
    text-align: center;
}

.content {
    padding-top: 5px;
}